{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} Créer Nouveau Lieu
{% endblock %}

{% block body %}
    <h1>Créer un Lieu</h1>
    {% include('bodyStructures/forms/lieuForm.html.twig') %}
{% endblock %}