{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} Créer Nouveau Lieu
{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un Lieu</h1>
    <div class="form-container">
        {% include('bodyStructures/forms/lieuForm.html.twig') %}
    </div>
{% endblock %}