{% form_theme formRecherche 'view/formTheme/formTheme.html.twig' %}

    {{ form_start(formRecherche) }}
    {{ form_row(formRecherche) }}
    <button type="button" class="btn btn-secondary"> Rechercher</button>
    {{ form_end(formRecherche) }}
