{% form_theme formRecherche 'view/formTheme/formTheme.html.twig' %}
    {{ form_start(formRecherche) }}
    {{ form_row(formRecherche) }}
    <button> valider</button>
    {{ form_end(formRecherche) }}
