{% form_theme filtreCampusForm 'view/formTheme/formTheme.html.twig' %}

    {{ form_start(filtreCampusForm) }}
<div class="d-flex flex-row">
    {{ form_errors(filtreCampusForm)  }}
    {{ form_widget(filtreCampusForm) }}
    <button type="submit" class="btn btn-secondary margin_left"> Rechercher</button>
</div>
    {{ form_end(filtreCampusForm) }}

