{% form_theme filtreCampusVilleForm 'view/formTheme/formTheme.html.twig' %}
    {{ form_start(filtreCampusVilleForm) }}
    {{ form_row(filtreCampusVilleForm) }}
    <button type="submit" class="btn btn-secondary"> Rechercher</button>
    {{ form_end(filtreCampusVilleForm) }}
