{% form_theme filtreCampusForm 'view/formTheme/formTheme.html.twig' %}
    {{ form_start(filtreCampusForm) }}
    {{ form_row(filtreCampusForm) }}
    <button type="button" class="btn btn-secondary"> Rechercher</button>
    {{ form_end(filtreCampusForm) }}
