<h2>{% block formTitle %}{% endblock %}</h2>
{{ form_start(sortieForm) }}
{{ form_widget(sortieForm) }}
<button type="submit">Enregistrer</button>
<button type="submit">Publier</button>
<button type="button">Annuler</button>
{{ form_end(sortieForm) }}