{% form_theme villeForm 'view/formTheme/formTheme.html.twig' %}
 {{ form_start(villeForm) }}
{{ form_row(villeForm) }}
<button type="button" class="btn btn-secondary"> Rechercher </button>
{{ form_end(villeForm) }}