{% form_theme villeForm 'view/formTheme/formTheme.html.twig' %}
    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
<button type="submit" class="btn btn-primary mr-15">Enregistrer</button>
{{ form_end(villeForm) }}