{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {{ form_start(updateVille) }}
    {{ form_row(updateVille) }}
    <button>valider</button>
    {{ form_end(updateVille) }}

{% endblock %}

