{% block form_row %}
    <div class="label"><b>{{ form_label(form) }}</b></div>
    <div class="widget">{{ form_widget(form) }}</div>
    <div class="error">{{ form_errors(form) }}</div>
{% endblock %}