{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annuler la Sortie : {{ sortie.nom }}</h1>


    {% include('bodyStructures/forms/cancelForm.html.twig') %}
{% endblock %}

{% block title %}
    {{ parent() }} Annuler Sortie
{% endblock %}

