.flex_ligne{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}
.flex_colon{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
input, select{
    margin-bottom: 1rem;
}
table, tr, td ,th{
    text-align: center;
    padding: 1rem;
}
.centre_tableau{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.centrer{
    text-align: center;
}
.cote_droite{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
}

.inline{
    display: flex;
}

.checkBoxSpace label{
    margin-left: 2rem ;
    font-weight: bold;
}