<header>
    <a href="{{ path('main_home') }}">
        <img class="headerIcon" src="{{ asset('assets/medias/logo/icon.png') }}" alt="BDENI | Home">
    </a>
    <h1>
        BDENI
    </h1>
    {% include("bodyStructures/nav.html.twig") %}
</header>