<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="icon" href="{{ asset('assets/medias/logo/icon.png') }}">
    <title>{% block title %}BDENI | {% endblock %}</title>
</head>
<body>
<div>
    {% include("bodyStructures/header.html.twig") %}
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        {% include("bodyStructures/footer.html.twig") %}
    </footer>
</div>
</body>
</html>
