{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} 403
{% endblock %}

{% block body %}
    <h2 class="text-center"> 403 Interdit</h2>
    <h3  class="text-center" > Vous n'avez pas les droits pour la page que vous demandez !</h3>
{% endblock %}