{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Erreur
{% endblock %}

{% block body %}
    <h2 class="text-center"> Erreur </h2>
    <h3  class="text-center" > </h3>
{% endblock %}