{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} 404
{% endblock %}

{% block body %}
    <h2 class="text-center"> 404 Non trouvée</h2>
    <h3  class="text-center" >La page que vous demandez n'a pas été trouvé !</h3>
{% endblock %}